<% @questions.each_with_index do |question,index|%>

  <form class="form" action="/surveys/<%=@survey.id%>/questions/<%= question.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="content">Question <%=index + 1%>.</label><br>
    <input id="content" type="text" name="question[content]" value="<%=question.content%>">
    <br><input type="submit" name:"edit" value="Edit Question">
  </form>

  <% question.options.each do |option| %>
    <form class="form" action="/surveys/<%=@survey.id%>/options/<%= option.id%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="content"></label><br>
      <input id="content" type="text" name="options[answer]" value="<%= option.answer%>">
      <br><input type="submit" name:"edit" value="Edit">
    </form><br>


  <%end%>



<%end%>

<form class="form" action="/surveys/<%=@survey.id%>" method="post">
  <label for="content">Question <%=@survey.questions.length + 1%>.</label><br>
  <input id="content" type="text" name="content" placeholder="Question <%=@survey.questions.length + 1%>">
  <br><input type="submit" name:"complete" value="Save survey">
  <input type="submit" name:"add_question" value="Add another question">
</form>
