<h1>User home page</h1>
<div>
<p> Your Surveys </p>
  <% @authored_surveys.each do |survey|%>
    <ul>
      <li><a href="/surveys/<%=survey.id%>"><%= survey.title %></a><br> <a href="/surveys/<%=survey.id%>/edit">Edit</a> <a href="/surveys/<%=survey.id%>/results">View Results</a></li>
    </ul>
  <%end%>
</div>

<div>
  <p> Take a survey </p>
  <% @surveys.each do |survey| %>
    <ul>
      <li><a href="/surveys/<%=survey.id%>/questions"><%= survey.title %></a></li>
    </ul>
  <%end%>
  <li id="view_surveys"><a href="/surveys">View all surveys</a></li>
  <li id="create_survey"><a href="/surveys/new">Create new survey</a></li>
</div>

